*{
    padding: 0;
    margin: 0;
}
body {
	background-color: #e5e5e5;
}
nav {
    background-color: #8B0000;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul li {
    list-style-type: none;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}