main {
    max-width: 900px;
    margin: 5px auto;
    padding: 10px;
    background-color: var(--page);
    position: relative;
}

main p {
    margin: 10px 0;
}

.inspection-navigation {
    display: flex;
    align-items: center;
}
.inspection-date {
    text-align: center;
    flex-grow: 1;
    font-size: 30px;
}

.textbox {
    display: block;
    width: 100%;
    height: 300px;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    resize: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

table th {
    font-size: 15px;
}

.box-num {
    text-align: center;
}

.alert {
    margin: 10px 0;
}

.searchBox {
    margin: 0 5px;
    padding: 2px;
    font-family: Roboto Slab, serif;
}

nav, .navbar-brand {
    font-size: 30px;
}

input[type=number], input[type=date] {
    margin: 0 5px;
    padding: 2px;
}

input[type=number] {width: 50px;}

.right {
    position: absolute;
    right: 5px;
}