header h1 {
    margin: 20px;
    font-size: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--navColor);
    border: 1px solid black;
    margin: 10px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: var(--secondaryColor);
    padding: 5px;
    flex-grow: 1;
    text-align: center;
}
nav a:hover {
    background-color: var(--mainColor);
    color: white;
}

nav i {
    cursor: pointer;
    font-size: 25px;
}